<h1> SSRF POST request testing form </h1>

<form action="/posturl/" method="POST">
  <br />
  URL to POST <input type="text" name="url">
  <br />
  POST Data to Send <input type="text" name="postdata">
  <input type="submit">
</form>